#TodoMachineContainer{
    width: 60vh;
    
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.59);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
    border: 1px solid rgba(0, 0, 0, 0.28);

    box-sizing: content-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body{
    background-image:url("/public/xc40v02you371.png");


    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;

}

h1{
    color: antiquewhite;
}